{% extends 'kot_location/base.html' %}

{% block content %}
    {% if request.user.is_authenticated and perms.kot_location.add_kot %}
        <button><a href="/kot/add">Ajouter une offre de location</a></button> <br>
    {% endif %}
    {% for kot in kots %}
        <a href="{% url 'kot-details' kot.id %}">
            <div id="kot-container">
                {{ kot.kot_address }}, {{ kot.price_month }}, {{ kot.id }}
                {% if kot.kot_owner_id  == request.user.id %}
                    <button> Supprimer l'offre</button>
                {% endif %}
                {% if request.user.user_type == 'RENTER' %}
                    <button> Suivre cette offre</button>
                {% endif %}
            </div>

        </a>
    {% endfor %}
{% endblock %}
