body {
    margin: auto;
}

header {
    background-color : cadetblue;
    height : 5em;
}

nav a {
    text-decoration: none;
    font-size : 1em;
    color: black;
}

nav li {
    display : inline-block;
    margin: 2em;
}

#kot-container {
    background-color : lightgray;
    margin: 1em;
    width: 30%;
    height : 10em;
    display: inline-block;
    flex-direction: row;
}

#login-menu {
    padding: 1em;
    background-color : grey;
    width : 30%;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top : 1em;
}

#homepage-title {
    text-align : center;
}

#homepage-text{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    height: 35em;
    background-color: lightgrey;
}

a {
    text-decoration: none;
}

#deconnexion, #connexion {
    float: right;
}